@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --primary-color: hsl(158, 36%, 37%);
    --bg-color: hsl(30, 38%, 92%);
    --dark-font-color: hsl(212, 21%, 14%);
    --light-font-color: hsl(228, 12%, 48%);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    max-width: 600px;
    height: 600px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
}

.image {
    min-width: 45%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/image-product-desktop.jpg);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.product-category {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: var(--light-font-color);
    letter-spacing: 8px;
}

.name-product {
    font-family: 'Fraunces', sans-serif;
    font-size: 2.7em;
    line-height: 1em;
    color: var(--dark-font-color);
    padding-right: 12px;
}

.description-product {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    color: var(--light-font-color);
    padding-right: 12px;
}

.price-product {
    display: flex;
    gap: 35px;
    align-items: center;
}

.new-price-product {
    font-family: 'Fraunces', sans-serif;
    font-size: 3em;
    color: var(--primary-color);
}

.old-price-product {
    font-family: 'Montserrat', sans-serif;
    color: var(--light-font-color);
    font-size: 1em;

}

.button-add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
}

.button-add-cart:hover {
    background-color: hsl(159, 36%, 25%);
}

@media (min-width: 643px){
    .container {
        max-width: 600px;
    }
}

@media only screen and (max-width: 641px){
    .container {
        min-width: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .image {
        width: 100%;
        height: 350px;
        background-image: url(../images/image-product-desktop.jpg);
        border-radius: 10px 10px 0 0;
    }

    .text {
        width: 100%;
        row-gap: 12px;
        padding: 25px;
        border-radius: 0 0 10px 10px;
    }

    .name-product {
        font-size: 32px;
        line-height: 1;
    }

    .description-product {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 1.7;
        font-size: 16px;
    }

    .button-add-cart {
        margin: 10px;
    }
}